.nav{
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(2px);
    z-index: 1;
    
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
    }
    a{  
        display: inline-flex;
        align-items: center;
        padding: 0.5rem;
        margin-right: 1rem;
        
        h1{
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.025em;
        }
        .logo{
            fill:currentColor;
            color: white;
            height: 2rem;
            width: 2rem;
            margin-right: 0.5rem;
        }
    }

    .button{
        display: inline-flex;
        padding: 0.75rem;
        border-radius: 50%;
        outline: none;
        &:hover{
            background-color: rgba(255, 255, 255, 0.301);
            color: gray;
        }
        @media (min-width: 1024px) { 
            visibility: hidden;
        }
        .svg{
            width: 2rem;
            height: 2rem;
            color: white;
        }
    }
    .title{
        font-weight: bold;
        font-size: 18px;
    }
  }