.main {
    display: flex;
    // height: calc(100vh - 64px);
    background-color: rgba(255, 255, 255, 0.459);
     section {
      padding: 32px;
    }
  }
  .container {
    padding: 0 2rem;
  }
  
  